___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
df = pd.read_csv("Salaries.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

** Check the head of the DataFrame. **

In [3]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134377 entries, 0 to 134376
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                134377 non-null  int64
 1   EmployeeName      134377 non-null  object
 2   JobTitle          134377 non-null  object
 3   BasePay           133771 non-null  float64
 4   OvertimePay       134376 non-null  float64
 5   OtherPay          134376 non-null  float64
 6   Benefits          98217 non-null   float64
 7   TotalPay          134376 non-null  float64
 8   TotalPayBenefits  134376 non-null  float64
 9   Year              134376 non-null  float64
 10  Notes             0 non-null       float64
 11  Agency            134376 non-null  object
 12  Status            23845 non-null   object
dtypes: float64(8), int64(1), object(4)
memory usage: 13.3+ MB

**What is the average BasePay ?**

In [5]:
not_provided_index = df[df["BasePay"] == "Not Provided"].index
df.loc[not_provided_index,"BasePay"] = 0
df["BasePay"]

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
134372     54703.00
134373     54703.00
134374     47263.89
134375     61130.72
134376          NaN
Name: BasePay, Length: 134377, dtype: float64

In [6]:
df["BasePay"] = df["BasePay"].astype(float)

In [7]:
df["BasePay"].mean()

71019.76335119411

** What is the highest amount of OvertimePay in the dataset ? **

In [8]:
not_provided_index_1 = df[df["OvertimePay"] == "Not Provided"].index
df.loc[not_provided_index_1,"OvertimePay"] = 0

df["OvertimePay"].max()

245131.88

In [9]:
df["OvertimePay"] = df["OvertimePay"].astype(float)

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [10]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [11]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [12]:
df["TotalPayBenefits"].max()

567595.43

In [13]:
index1 = df[df["TotalPayBenefits"] == 567595.43].index
df.loc[index1,:]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [14]:
df["TotalPayBenefits"].min()

-33.89

In [15]:
index2 = df[df["TotalPayBenefits"] == -618.13].index
df.loc[index2,:]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [16]:
df.groupby("Year").mean()["BasePay"]

Year
2011.0    63595.956517
2012.0    65436.406857
2013.0    69630.030216
2014.0    93042.687733
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [17]:
len(df["JobTitle"].unique())

2152

** What are the top 5 most common jobs? **

In [18]:
df['JobTitle'].value_counts().head()

Transit Operator    6199
Registered Nurse    3589
Special Nurse       3095
TRANSIT OPERATOR    2388
Police Officer 3    2359
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [19]:
my_dict = dict(df.groupby("Year").get_group(2013)["JobTitle"].value_counts())
list1 = []
for key,values in my_dict.items():
  if values == 1:
    list1.append(key)

  else:
    continue

len(list1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [20]:
job_title_list = list(df["JobTitle"])
count = 0
chief = ["Chief", "CHIEF"]
for i in job_title_list:
  words = i.split(" ")
  for j in words:
    if j in chief:
      count += 1
    else:
      continue

count

469

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

# Great Job!